.header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-logo-link {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.2;
  text-align: center;
  display: block;
  color: #ff5300;
  padding: 10px 0;
}
.logo-color {
  color: #373737;
}
.header-nav-list,
#mob-menu {
  display: none;
}
.open-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: #ff5300;
}
.mob-menu-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 130px;
}
.close-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
}
.mob-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 48px;
}
